{% extends "base_bootstrap.html" %}

{% block content %}
<h1>Autos List</h1>
{% if auto_list %}  <!-- do an operation if the auto_list is not empty -->
<ul>
    {% for auto in auto_list %}
    <li>
        {{ auto.nickname }} ({{ auto.make }})
        (<a href="{% url 'autos:auto_update' auto.id %}">Update</a> |
        <a href="{% url 'autos:auto_delete' auto.id %}">Delete</a>)
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no autos in the list.</p>
{% endif %}
<p>
    {% if make_count > 0 %}
        <a href="{% url 'autos:auto_create' %}">Add an auto</a> <!-- will be directed to auto-add page-->
    {% else %}
        Please add a make before you add an auto.
    {% endif %}
</p>
<p>
    <a href="{% url 'autos:make_list' %}">View makes</a>({{autos.make_count}}) |
    <a href="{% url 'autos:make_create' %}">Add a make</a>
</p>
{% endblock %}